spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: org.postgresql.Driver
    jdbcUrl: jdbc:postgresql://localhost:5432/camel
    username: postgres
    password: postgres
  mail:
    host: smtp.gmail.com
    port: 587
    username: sandhicamel@gmail.com
    password: ENC(Fq/iMRYWyzI4eEaKhXOX4La2a/6qCCI7/usQuWlGVtQ=)
    properties.mail.smtp:
      auth: true
      starttls.enable: true
mailto: sandhicamel@gmail.com
mailfrom: sandhicamel@gmail.com

jasypt.encryptor.password: ${JASYPT_ENCRYPTOR_PASSWORD:}


camel:
  springboot:
    shutdownTimeout: 2
    health.indicator.enabled: true

management.endpoint.health.show-details: always

startRoute: timer:hello?period=10s
fromRoute: file:data/input?delete=true&readLock=none&moveFailed=error
toRoute1: file:data/output
toRoute2: jdbc:datasource
toRoute3: file:data/output?fileName=success.txt
healthRoute: timer:healthRoute?period=10s

---
spring:
  profiles: dev

message: DEV Environment

kafkaFromRoute: kafka:inputItemTopic?brokers=localhost:9092&groupId=itemDev&autoOffsetReset=earliest&consumersCount=1
kafkaErrorRoute: kafka:errorTopic?brokers=localhost:9092
kafkaToRoute: jdbc:dataSource
kafkaSelectNode: sql:select * from ITEMS where sku = :#skuId?dataSource=#dataSource

---
spring:
  profiles: mock

startRoute: direct:kafka
fromRoute: file:data/input?delete=true&readLock=none #not used but still needs to be defined
toRoute1: mock:output1
toRoute2: mock:output2
toRoute3: mock:output3
healthRoute: direct:health

kafkaFromRoute: direct:input
kafkaErrorRoute: mock:output4
kafkaSelectNode: mock:output5
kafkaToRoute: log:?level=INFO&showBody=true

message: MOCK_TEST Environment
---